/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 40px;
  text-align: center;
}

.canvasWrapper {
  position: relative;
  width: 600px;
  height: 600px;
}
.columnWrapper {
  position: relative;
  width: 600px;
  height: 800px;
}

.canvasWrapper canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.buttonContainer {
  position: absolute;
  top: 600px;
  left: 575px;
}

.sendButton {
  font-size: 16pt;
  border-radius: 5px;
  background-color: #96ff8c;
  border-color: black;
  margin: 10px;
}
.sendButton:active {
  background-color: #51fc42;
}

.forfeitButton{
  font-size: 16pt;
  border-radius: 5px;
  background-color: #ffe4ad;
  border-color: black;
  margin: 10px;
}
.forfeitButton:active{
  background-color: orange;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.columnscontainer {
  display: flex;
}
.column {
  flex: 0;
  padding: 10px;
}
.column1 {
  background-color: lightblue;
  width: 50vw;
}
.column2 {
  background-color: lightsteelblue;
  width: 50vw;
  height: 800px;
}
.profilepic{
  border-radius: 50%;
  border: 10px solid #000000; /* Black border */
  background-color: #F0F0F0; /* Light grey background */
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* Shadow effect */
}
.playerPlaying{
  border-radius: 10px;
  border: 3px double darkred;
}

.playerListContainer{
}

.inactivePlayer{
  border-color: #c2bfb6;
}
.inactivePlayerName{
  text-decoration: line-through;
  font-weight: normal;
  font-style: italic;
}
.activePlayerName{
  font-weight: bold;
}
.playerName{
  font-size: 14pt;
  font-family: "Helvetica Neue";
  margin-right: 30px;
  margin-left: 10px;
}

.TextBoxForPawnSteps{
  font-family: "Helvetica Neue";
  font-size: 12pt;
  width: 20px;
  margin-right: 5px;
  text-align: center;
}
.TextBoxLabel{
  font-size: 14pt;
  font-family: "Helvetica Neue";
  white-space: nowrap;
  margin-right: 8px;
  margin-left: 10px;
}

/*
the tiles of the game are designed to be so called 'neumorphism'
the design of which can be controlled and copy pasted into this CSS file by visiting the website:
https://neumorphism.io/
*/
.tile{
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 50%;
}

.tile-highlight {
  background-color: rgba(255, 165, 0, 0); /* yellow, fully transparent */
  transition: background-color 0.25s linear;
  border-radius: 50%;
}
.tile-highlight-active {
  background-color: rgba(255, 165, 0, 0.6); /* yellow, semi-transparent */
  border-radius: 50%;
}

@keyframes yellowPulse {
  0% {
    background-color: rgba(255, 165, 0, 0);
    width: 0%;
    height: 0%;
  }
  100% {
    background-color: rgba(255, 165, 0, 0.6);
    width: 100%;
    height: 100%;
  }
}

.tile-highlight-pulse {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center it */
  animation: yellowPulse 1s ease infinite;
}

.pawnIntegerBoxes{
  border-radius: 8px;
  border-style: solid;
  border-width: 4px;
  border-color: orange;
  padding: 4px;
  background-color: #ffe4ad;
}