@if (tiles().length) {
  <div class="board" [style.--cell]="cell() / 6">
    @for (t of tiles(); track t.playerId + ':' + t.tileNr) {
      <div class="tile"
           [style.left.%]="t.x / 6"
           [style.top.%]="t.y / 6"
           [style.background-color]="t.color"></div>
    }
    @for (p of pawns(); track p.id){
      <app-pawn class="pawn"
                [color]="p.color"
                (click)="selectPawn(p.id)"
                [highlight]="selectedPawnId() === p.id ? highlightForPawn1(p.color) : undefined"
                [style.left.%]="p.x / 6"
                [style.top.%]="p.y / 6"
                [style.z-index]="p.zIndex" />
    }
    <div class="hand">
      @for (c of hand(); track c.uuid) {
        <app-card
          [suit]="c.suit"
          [value]="c.value"
          [class.selected]="selectedCardUuid() === c.uuid"
          (click)="selectCard(c.uuid)"/>
      }
    </div>
  </div>
}
